@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-2xl;
	@apply font-bold;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
a {
	@apply text-blue-600 underline;
}

@layer base {
	:root {
		--background: 210 100% 100%;
		--foreground: 210 5% 10%;
		--card: 210 50% 100%;
		--card-foreground: 210 5% 15%;
		--popover: 210 100% 100%;
		--popover-foreground: 210 100% 10%;
		--primary: 210 24.3% 14.5%;
		--primary-foreground: 0 0% 100%;
		--secondary: 210 30% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: 172 30% 95%;
		--muted-foreground: 210 5% 40%;
		--accent: 172 30% 90%;
		--accent-foreground: 210 5% 15%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 5% 100%;
		--border: 210 30% 82%;
		--input: 210 30% 50%;
		--ring: 210 24.3% 14.5%;
		--radius: 0.75rem;
	}
	.dark {
		--background: 210 50% 10%;
		--foreground: 210 5% 100%;
		--card: 210 50% 10%;
		--card-foreground: 210 5% 100%;
		--popover: 210 50% 5%;
		--popover-foreground: 210 5% 100%;
		--primary: 210 24.3% 14.5%;
		--primary-foreground: 0 0% 100%;
		--secondary: 210 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 172 30% 25%;
		--muted-foreground: 210 5% 65%;
		--accent: 172 30% 25%;
		--accent-foreground: 210 5% 95%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 5% 100%;
		--border: 210 30% 50%;
		--input: 210 30% 50%;
		--ring: 210 24.3% 14.5%;
		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.route {
		@apply flex flex-row px-0 py-2 w-full h-14 justify-start text-white no-underline border-l-4 border-r-0 rounded-none transition-none;
	}

	.route:hover {
		@apply border-l-transparent hover:border-l-orange-300;
	}

	.route-active {
		@apply border-l-orange-500;
	}
}

body {
	font-family: 'Inter', sans-serif;
}
